@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:  #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22f4fd;
    --color-hover: #272727;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 10%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_enlaces{
    font-family: var(--fuente-montserrat) ;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 10% ;
    gap: 82px;

}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion_contenido_titulo{
    font-size: 2.25 rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
  
}


.presentacion_enlaces_subtitulos{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}


.presentacion_contenido_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion_enlaces{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border: 2px solid #22f4fd;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 16px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    
}

.presentacion_enlaces:hover{
    background-color: var(--color-hover);

}

.presentacion_imagen{
    width: 50%;
}

.resaltaTitulo{
    color: #22f4fd; 

}


.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family:var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 5% ;
        gap: 82px;

    }

    .presentacion_contenido{
        width: auto;
    }

}